################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Djipis-Ocarina-of-Time-3DS-Experience/FileContentIndex/98dd1254-7808-4152-9816-ff3b59e82af8.vsidx
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.db
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.db-shm
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.db-wal
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/FileContentIndex/98dd1254-7808-4152-9816-ff3b59e82af8.vsidx
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.db
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.db-shm
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.db-wal
/.vs/Djipis-Ocarina-of-Time-3DS-Experience/v17/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
